<!-- This is the landing page -->
<div class="row mt-4">
    <div class="col-md-6 m-auto" id="container">
        <div class="card card-body text-center">
            <img src="/assets/Habit Tracker-logos.jpeg" id="image"/>
            
            <!-- Option to register or log-in -->
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>